.card_products {
    margin: 30px 0;

    .card-list_title {
        text-align: center;
        font-size: 24px;
        font-family: 'Kalnia', sans-serif;
        font-weight: 500;
    }

    .card-products_list {
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(5, 200px);
        gap: 30px;
        justify-content: space-between;

        .card-product_item {
            max-width: 200px;

            .card-product_pop-up{
                display: block;
                width: 100%;
                position: relative; 

                .scale-product {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 20px;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 250px;
                    transition: .3s;
                    cursor: pointer;

                    .text-scale_product {
                        color: $white;
                    }
                }
            }

            .card-product_image img {
                width:  200px;
                height: 250px;
                border-radius: 20px;
            }

            .card-product_pop-up:hover .scale-product{
                background: rgba(236, 231, 231, 0.5);
                opacity: 1;
              }

            .card-product_information {
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .card-product_title {
                    font-size: 16px;
                    font-family: 'Kalnia', sans-serif;
                }

                .card-product_description {
                    -webkit-line-clamp: 2; /* Число отображаемых строк */
                    display: -webkit-box; /* Включаем флексбоксы */
                    -webkit-box-orient: vertical; /* Вертикальная ориентация */
                    overflow: hidden;
                    text-align: justify;
                    font-size: 12px;
                }

                .card-product_price {
                    font-family: 'Noto Serif', sans-serif;
                    font-weight: 700;
                }

                .btn-add_basket {
                    width: 100px;
                    padding: 5px;
                    background-color: $btnbackcolor;
                    border: none;
                    border-radius: 5px;
                    color: $white;
                    font-size: 14px;
                }

                .btn-add_basket:hover {
                    background-color: $hovercolor;
                }
            } 
        }
    }
}