.modal-element {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: $white;

    .modal-window_information {

      .basket_information {
        margin: 20px 0;
        border-radius: 15px;
        background: $backinformationmodal;
        width: 100%;

        .basket_information_title {
          padding: 20px 0 0 15px;
          color: $purpleblue;
        }

        .basket_information_list_product  {
        
          .card-product_item {
            padding: 20px 0 0 15px;
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
        
              .card-product_image img {
                  width:  100px;
                  height: 120px;
              }
        
              .card-product_information {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
        
                  .card-product_title {
                      font-size: 14px;
                      font-family: 'Noto Sans Japanese', sans-serif;
                      font-weight: 600;
                      -webkit-line-clamp: 2; /* Число отображаемых строк */
                      display: -webkit-box; /* Включаем флексбоксы */
                      -webkit-box-orient: vertical; /* Вертикальная ориентация */
                      vertical-align: top;
                      overflow: hidden;
                      text-align: justify;
                      width: 400px;
                  }
        
                  .card-product_category {
                      font-size: 12px;
                  }
        
                  .card-product_description {
                      -webkit-line-clamp: 2; /* Число отображаемых строк */
                      display: -webkit-box; /* Включаем флексбоксы */
                      -webkit-box-orient: vertical; /* Вертикальная ориентация */
                      overflow: hidden;
                      text-align: justify;
                      font-size: 12px;
                      width: 100%;
                  }
        
                  .card-product_informationPrice {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .card-product_price {
                        font-family: 'Noto Serif', sans-serif;
                        font-weight: 700;
                    }

                    .card-product_currency {
                        font-family: 'Noto Serif', sans-serif;
                        font-weight: 700;
                    }

                }
              } 
          }

          @media (max-width: 615px) {
            .card-product_item{
              display: flex;
              flex-direction: column;
              width: 400px;
            }
          }

          @media (max-width: 470px) {
            .card-product_item{
              width: 200px;

              .card-product_information {
                .card-product_title {
                  width: 200px;
                }
              }

            }
          }

        }

        .basket_information_totalAmount {
          display: flex;
          padding: 20px 0 20px 15px;
          gap: 10px;


          .basket_information_summ{
            font-size: 24px;
          }

          .basket_information_totalAmountProduct {
            font-size: 24px;
            padding: 0 0 0 15px;
          }

          .basket_information_productСurrency {
            font-size: 24px;
          }

        }

      }

      .delivery-method {
        margin: 20px 0;
        border-radius: 15px;
        background: $backinformationmodal;
        width: 100%;
        height: 150px;

        .delivery-method_title {
          padding: 20px 0 0 15px;
          color: $purpleblue;
        }

        .delivery-method_description {
          padding: 30px 0 0 15px;
          font-weight: 500;
        }
        
        .delivery-method_description a{
          color: $purpleblue;
        }  
      }

      .person-information {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        .payment-method {
          border-radius: 15px;
          background: $backinformationmodal;
          width: 100%;
          height: 150px;

          .payment-method_title {
            padding: 20px 0 0 15px;
            color: $purpleblue;
          }

          .payment-method_description {
            padding: 30px 0 0 15px;

            .selected-text {
              color: $purpleblue;
              font-weight: 500;
            }
          }

          .payment-method_description a {
            color: #000;
          }    
        }

        .my-details {
          border-radius: 15px;
          background: $backinformationmodal;
          width: 100%;
          height: 150px;

          .my-details_title{
            padding: 20px 0 0 15px;
            color: $purpleblue;

          }

          .my-details_description {
            padding: 30px 0 0 15px;

            .selected-text {
              color: $purpleblue;
              font-weight: 500;
            }
          }  

          .my-details_description a {
            color: #000;
          }     
        }
      }
    }
}